<configuration>
  <appSettings>
    <add key="NumberOfSubscribers" value="4" />
    <add key="EnableConsoleOutputDisableUnitTest" value="0" />  
    <add key="OutputFolderFullPath" value="c:\CplusPlus\StockTicker\StockTicker\log" />  
    <add key="SubscribersLogFileBaseName" value="Shosh" />
    <add key="TraceLogFileName" value="StockTickerSBTrace" />
    <add key="StockProductType" value="Advanced" />
  </appSettings>
</configuration>